.outline-view-tab-icon::before {
    content: "\f03a"
}

.no-outline {
    color: var(--theia-foreground);
    text-align: left;
}

.theia-side-panel .no-outline {
    margin-left: 9px;
}

.mygs-view-tab-icon::before {
    content: url('../icons/chat-quote.svg')  /*  "\f06a"   */
}
